// -----------------------------------------------------------------------------
// This file contains styles that are specific to the category listing page.
// -----------------------------------------------------------------------------

.header {
    border-bottom: 1px solid $color__gray;
    height: 35px;

    .header__text {
        font-size: 28px;
    }
}
