// -----------------------------------------------------------------------------
// This file contains styles that are specific to the all the buttons.
// -----------------------------------------------------------------------------

.btn {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
}
